<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento de Dígitos - Modo Nocturno</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
            color: #ffffff;
        }
        #canvas {
            border: 1px solid #ffffff;
            background-color: #ffffff; /* Fondo blanco para el lienzo */
            touch-action: none;
        }
        .btn {
            margin: 5px;
        }
        /* Estilos para las imágenes promedio */

    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Reconocimiento de Dígitos 2 Metodos</h1>
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <canvas id="canvas" width="400" height="400"></canvas>
                <div>
                    <label for="color-picker">Color de la línea:</label>
                    <input type="color" id="color-picker">
                </div>
                <div>
                    <label for="thickness-slider">Grosor de la línea:</label>
                    <input type="range" id="thickness-slider" min="1" max="10" value="2">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2 text-center">
                <button id="clear-btn" class="btn btn-warning">Borrar</button>
                <button id="analyze-btn" class="btn btn-success">Analizar</button>
            </div>
            <p id="result-method-1" class="result-text"></p>
            <p id="result-method-2" class="result-text"></p>
        </div>
        <div class="row mt-4" id="average-images-grid">
            {% for i in range(1,5) %}
                <div class="col-md-2">
                    <img src="{{ url_for('get_image', index=i) }}" alt="Imagen de ejemplo" class="img-fluid">
                </div>
            {% endfor %}
        </div>
        <div class="row mt-4" id="average-images-grid">
            {% for i in range(5,10) %}
                <div class="col-md-2">
                    <img src="{{ url_for('get_image', index=i) }}" alt="Imagen de ejemplo" class="img-fluid">
                </div>
            {% endfor %}
        </div>
        
        
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        let isDrawing = false;
        let x = 0;
        let y = 0;

        // Configurar color y grosor inicial
        let currentColor = 'black'; // Color de la línea por defecto
        let currentThickness = 2;   // Grosor de la línea por defecto

        canvas.addEventListener('mousedown', e => {
            x = e.offsetX;
            y = e.offsetY;
            isDrawing = true;
        });

        canvas.addEventListener('mousemove', e => {
            if (isDrawing === true) {
                drawLine(ctx, x, y, e.offsetX, e.offsetY);
                x = e.offsetX;
                y = e.offsetY;
            }
        });

        document.addEventListener('mouseup', e => {
            if (isDrawing === true) {
                drawLine(ctx, x, y, e.offsetX, e.offsetY);
                x = 0;
                y = 0;
                isDrawing = false;
            }
        });

        function drawLine(ctx, x1, y1, x2, y2) {
            ctx.beginPath();
            ctx.strokeStyle = currentColor; // Establecer el color de la línea
            ctx.lineWidth = currentThickness; // Establecer el grosor de la línea
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.stroke();
            ctx.closePath();
        }

        document.getElementById('clear-btn').addEventListener('click', () => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = 'white'; // Establecer el color de fondo en blanco
            ctx.fillRect(0, 0, canvas.width, canvas.height); // Rellenar todo el canvas con blanco
        });

        // Actualizar el color de la línea cuando se cambia el color en el selector
        document.getElementById('color-picker').addEventListener('input', (e) => {
            currentColor = e.target.value;
        });

        // Actualizar el grosor de la línea cuando se cambia el valor en el slider
        document.getElementById('thickness-slider').addEventListener('input', (e) => {
            currentThickness = e.target.value;
        });

        function getCanvasImage() {
            return canvas.toDataURL('image/png');
        }

        document.getElementById('analyze-btn').addEventListener('click', () => {
            const imageBase64 = getCanvasImage();
            $.ajax({
                type: "POST",
                url: "/analyze",
                data: { 
                    image: imageBase64
                },
                success: function(response) {
                    console.log(response);
                    document.getElementById('result-method-1').textContent = 'Método 1: ' + response.prediction_method_1;
                    document.getElementById('result-method-2').textContent = 'Método 2: ' + response.prediction_method_2;
                }
            });
        });
    </script>
</body>
</html>
